~/.m2/repository/com/thoughtworks/qdox/qdox/2.0.3/_remote.repositories
~/.m2/repository/com/thoughtworks/qdox/qdox/2.0.3/qdox-2.0.3.jar
~/.m2/repository/com/thoughtworks/qdox/qdox/2.0.3/qdox-2.0.3.jar.sha1
~/.m2/repository/com/thoughtworks/qdox/qdox/2.0.3/qdox-2.0.3.pom
~/.m2/repository/com/thoughtworks/qdox/qdox/2.0.3/qdox-2.0.3.pom.sha1
~/.m2/repository/commons-io/commons-io/2.11.0/_remote.repositories
~/.m2/repository/commons-io/commons-io/2.11.0/commons-io-2.11.0.jar
~/.m2/repository/commons-io/commons-io/2.11.0/commons-io-2.11.0.jar.sha1
~/.m2/repository/commons-io/commons-io/2.11.0/commons-io-2.11.0.pom
~/.m2/repository/commons-io/commons-io/2.11.0/commons-io-2.11.0.pom.sha1
~/.m2/repository/commons-io/commons-io/2.6/_remote.repositories
~/.m2/repository/commons-io/commons-io/2.6/commons-io-2.6.jar
~/.m2/repository/commons-io/commons-io/2.6/commons-io-2.6.jar.sha1
~/.m2/repository/commons-io/commons-io/2.6/commons-io-2.6.pom
~/.m2/repository/commons-io/commons-io/2.6/commons-io-2.6.pom.sha1
~/.m2/repository/javax/inject/javax.inject/1/_remote.repositories
~/.m2/repository/javax/inject/javax.inject/1/javax.inject-1.jar
~/.m2/repository/javax/inject/javax.inject/1/javax.inject-1.jar.sha1
~/.m2/repository/javax/inject/javax.inject/1/javax.inject-1.pom
~/.m2/repository/javax/inject/javax.inject/1/javax.inject-1.pom.sha1
~/.m2/repository/org/apache/apache/13/_remote.repositories
~/.m2/repository/org/apache/apache/13/apache-13.pom
~/.m2/repository/org/apache/apache/13/apache-13.pom.sha1
~/.m2/repository/org/apache/apache/18/_remote.repositories
~/.m2/repository/org/apache/apache/18/apache-18.pom
~/.m2/repository/org/apache/apache/18/apache-18.pom.sha1
~/.m2/repository/org/apache/apache/23/_remote.repositories
~/.m2/repository/org/apache/apache/23/apache-23.pom
~/.m2/repository/org/apache/apache/23/apache-23.pom.sha1
~/.m2/repository/org/apache/apache/29/_remote.repositories
~/.m2/repository/org/apache/apache/29/apache-29.pom
~/.m2/repository/org/apache/apache/29/apache-29.pom.sha1
~/.m2/repository/org/apache/commons/commons-lang3/3.12.0/_remote.repositories
~/.m2/repository/org/apache/commons/commons-lang3/3.12.0/commons-lang3-3.12.0.jar
~/.m2/repository/org/apache/commons/commons-lang3/3.12.0/commons-lang3-3.12.0.jar.sha1
~/.m2/repository/org/apache/commons/commons-lang3/3.12.0/commons-lang3-3.12.0.pom
~/.m2/repository/org/apache/commons/commons-lang3/3.12.0/commons-lang3-3.12.0.pom.sha1
~/.m2/repository/org/apache/commons/commons-parent/42/_remote.repositories
~/.m2/repository/org/apache/commons/commons-parent/42/commons-parent-42.pom
~/.m2/repository/org/apache/commons/commons-parent/42/commons-parent-42.pom.sha1
~/.m2/repository/org/apache/commons/commons-parent/52/_remote.repositories
~/.m2/repository/org/apache/commons/commons-parent/52/commons-parent-52.pom
~/.m2/repository/org/apache/commons/commons-parent/52/commons-parent-52.pom.sha1
~/.m2/repository/org/apache/maven/maven-parent/23/_remote.repositories
~/.m2/repository/org/apache/maven/maven-parent/23/maven-parent-23.pom
~/.m2/repository/org/apache/maven/maven-parent/23/maven-parent-23.pom.sha1
~/.m2/repository/org/apache/maven/maven-parent/34/_remote.repositories
~/.m2/repository/org/apache/maven/maven-parent/34/maven-parent-34.pom
~/.m2/repository/org/apache/maven/maven-parent/34/maven-parent-34.pom.sha1
~/.m2/repository/org/apache/maven/maven-parent/39/_remote.repositories
~/.m2/repository/org/apache/maven/maven-parent/39/maven-parent-39.pom
~/.m2/repository/org/apache/maven/maven-parent/39/maven-parent-39.pom.sha1
~/.m2/repository/org/apache/maven/plugins/maven-clean-plugin/3.2.0/_remote.repositories
~/.m2/repository/org/apache/maven/plugins/maven-clean-plugin/3.2.0/m2e-lastUpdated.properties
~/.m2/repository/org/apache/maven/plugins/maven-clean-plugin/3.2.0/maven-clean-plugin-3.2.0.jar
~/.m2/repository/org/apache/maven/plugins/maven-clean-plugin/3.2.0/maven-clean-plugin-3.2.0.jar.sha1
~/.m2/repository/org/apache/maven/plugins/maven-compiler-plugin/3.11.0/_remote.repositories
~/.m2/repository/org/apache/maven/plugins/maven-compiler-plugin/3.11.0/m2e-lastUpdated.properties
~/.m2/repository/org/apache/maven/plugins/maven-compiler-plugin/3.11.0/maven-compiler-plugin-3.11.0.jar
~/.m2/repository/org/apache/maven/plugins/maven-compiler-plugin/3.11.0/maven-compiler-plugin-3.11.0.jar.sha1
~/.m2/repository/org/apache/maven/plugins/maven-compiler-plugin/3.11.0/maven-compiler-plugin-3.11.0.pom
~/.m2/repository/org/apache/maven/plugins/maven-compiler-plugin/3.11.0/maven-compiler-plugin-3.11.0.pom.sha1
~/.m2/repository/org/apache/maven/plugins/maven-deploy-plugin/3.1.1/_remote.repositories
~/.m2/repository/org/apache/maven/plugins/maven-deploy-plugin/3.1.1/m2e-lastUpdated.properties
~/.m2/repository/org/apache/maven/plugins/maven-deploy-plugin/3.1.1/maven-deploy-plugin-3.1.1.jar
~/.m2/repository/org/apache/maven/plugins/maven-deploy-plugin/3.1.1/maven-deploy-plugin-3.1.1.jar.sha1
~/.m2/repository/org/apache/maven/plugins/maven-install-plugin/3.1.1/_remote.repositories
~/.m2/repository/org/apache/maven/plugins/maven-install-plugin/3.1.1/m2e-lastUpdated.properties
~/.m2/repository/org/apache/maven/plugins/maven-install-plugin/3.1.1/maven-install-plugin-3.1.1.jar
~/.m2/repository/org/apache/maven/plugins/maven-install-plugin/3.1.1/maven-install-plugin-3.1.1.jar.sha1
~/.m2/repository/org/apache/maven/plugins/maven-jar-plugin/3.3.0/_remote.repositories
~/.m2/repository/org/apache/maven/plugins/maven-jar-plugin/3.3.0/m2e-lastUpdated.properties
~/.m2/repository/org/apache/maven/plugins/maven-jar-plugin/3.3.0/maven-jar-plugin-3.3.0.jar
~/.m2/repository/org/apache/maven/plugins/maven-jar-plugin/3.3.0/maven-jar-plugin-3.3.0.jar.sha1
~/.m2/repository/org/apache/maven/plugins/maven-plugins/39/_remote.repositories
~/.m2/repository/org/apache/maven/plugins/maven-plugins/39/maven-plugins-39.pom
~/.m2/repository/org/apache/maven/plugins/maven-plugins/39/maven-plugins-39.pom.sha1
~/.m2/repository/org/apache/maven/plugins/maven-resources-plugin/3.3.1/_remote.repositories
~/.m2/repository/org/apache/maven/plugins/maven-resources-plugin/3.3.1/m2e-lastUpdated.properties
~/.m2/repository/org/apache/maven/plugins/maven-resources-plugin/3.3.1/maven-resources-plugin-3.3.1.jar
~/.m2/repository/org/apache/maven/plugins/maven-resources-plugin/3.3.1/maven-resources-plugin-3.3.1.jar.sha1
~/.m2/repository/org/apache/maven/plugins/maven-resources-plugin/3.3.1/maven-resources-plugin-3.3.1.pom
~/.m2/repository/org/apache/maven/plugins/maven-resources-plugin/3.3.1/maven-resources-plugin-3.3.1.pom.sha1
~/.m2/repository/org/apache/maven/plugins/maven-site-plugin/3.12.1/_remote.repositories
~/.m2/repository/org/apache/maven/plugins/maven-site-plugin/3.12.1/m2e-lastUpdated.properties
~/.m2/repository/org/apache/maven/plugins/maven-site-plugin/3.12.1/maven-site-plugin-3.12.1.jar
~/.m2/repository/org/apache/maven/plugins/maven-site-plugin/3.12.1/maven-site-plugin-3.12.1.jar.sha1
~/.m2/repository/org/apache/maven/plugins/maven-surefire-plugin/3.2.2/_remote.repositories
~/.m2/repository/org/apache/maven/plugins/maven-surefire-plugin/3.2.2/m2e-lastUpdated.properties
~/.m2/repository/org/apache/maven/plugins/maven-surefire-plugin/3.2.2/maven-surefire-plugin-3.2.2.jar
~/.m2/repository/org/apache/maven/plugins/maven-surefire-plugin/3.2.2/maven-surefire-plugin-3.2.2.jar.sha1
~/.m2/repository/org/apache/maven/shared/maven-filtering/3.3.1/_remote.repositories
~/.m2/repository/org/apache/maven/shared/maven-filtering/3.3.1/maven-filtering-3.3.1.jar
~/.m2/repository/org/apache/maven/shared/maven-filtering/3.3.1/maven-filtering-3.3.1.jar.sha1
~/.m2/repository/org/apache/maven/shared/maven-filtering/3.3.1/maven-filtering-3.3.1.pom
~/.m2/repository/org/apache/maven/shared/maven-filtering/3.3.1/maven-filtering-3.3.1.pom.sha1
~/.m2/repository/org/apache/maven/shared/maven-shared-components/19/_remote.repositories
~/.m2/repository/org/apache/maven/shared/maven-shared-components/19/maven-shared-components-19.pom
~/.m2/repository/org/apache/maven/shared/maven-shared-components/19/maven-shared-components-19.pom.sha1
~/.m2/repository/org/apache/maven/shared/maven-shared-components/34/_remote.repositories
~/.m2/repository/org/apache/maven/shared/maven-shared-components/34/maven-shared-components-34.pom
~/.m2/repository/org/apache/maven/shared/maven-shared-components/34/maven-shared-components-34.pom.sha1
~/.m2/repository/org/apache/maven/shared/maven-shared-components/39/_remote.repositories
~/.m2/repository/org/apache/maven/shared/maven-shared-components/39/maven-shared-components-39.pom
~/.m2/repository/org/apache/maven/shared/maven-shared-components/39/maven-shared-components-39.pom.sha1
~/.m2/repository/org/apache/maven/shared/maven-shared-incremental/1.1/_remote.repositories
~/.m2/repository/org/apache/maven/shared/maven-shared-incremental/1.1/maven-shared-incremental-1.1.jar
~/.m2/repository/org/apache/maven/shared/maven-shared-incremental/1.1/maven-shared-incremental-1.1.jar.sha1
~/.m2/repository/org/apache/maven/shared/maven-shared-incremental/1.1/maven-shared-incremental-1.1.pom
~/.m2/repository/org/apache/maven/shared/maven-shared-incremental/1.1/maven-shared-incremental-1.1.pom.sha1
~/.m2/repository/org/apache/maven/shared/maven-shared-utils/3.3.4/_remote.repositories
~/.m2/repository/org/apache/maven/shared/maven-shared-utils/3.3.4/maven-shared-utils-3.3.4.jar
~/.m2/repository/org/apache/maven/shared/maven-shared-utils/3.3.4/maven-shared-utils-3.3.4.jar.sha1
~/.m2/repository/org/apache/maven/shared/maven-shared-utils/3.3.4/maven-shared-utils-3.3.4.pom
~/.m2/repository/org/apache/maven/shared/maven-shared-utils/3.3.4/maven-shared-utils-3.3.4.pom.sha1
~/.m2/repository/org/codehaus/plexus/plexus/10/_remote.repositories
~/.m2/repository/org/codehaus/plexus/plexus/10/plexus-10.pom
~/.m2/repository/org/codehaus/plexus/plexus/10/plexus-10.pom.sha1
~/.m2/repository/org/codehaus/plexus/plexus/2.0.7/_remote.repositories
~/.m2/repository/org/codehaus/plexus/plexus/2.0.7/plexus-2.0.7.pom
~/.m2/repository/org/codehaus/plexus/plexus/2.0.7/plexus-2.0.7.pom.sha1
~/.m2/repository/org/codehaus/plexus/plexus/5.1/_remote.repositories
~/.m2/repository/org/codehaus/plexus/plexus/5.1/plexus-5.1.pom
~/.m2/repository/org/codehaus/plexus/plexus/5.1/plexus-5.1.pom.sha1
~/.m2/repository/org/codehaus/plexus/plexus/6.5/_remote.repositories
~/.m2/repository/org/codehaus/plexus/plexus/6.5/plexus-6.5.pom
~/.m2/repository/org/codehaus/plexus/plexus/6.5/plexus-6.5.pom.sha1
~/.m2/repository/org/codehaus/plexus/plexus-compiler/2.13.0/_remote.repositories
~/.m2/repository/org/codehaus/plexus/plexus-compiler/2.13.0/plexus-compiler-2.13.0.pom
~/.m2/repository/org/codehaus/plexus/plexus-compiler/2.13.0/plexus-compiler-2.13.0.pom.sha1
~/.m2/repository/org/codehaus/plexus/plexus-compiler-api/2.13.0/_remote.repositories
~/.m2/repository/org/codehaus/plexus/plexus-compiler-api/2.13.0/plexus-compiler-api-2.13.0.jar
~/.m2/repository/org/codehaus/plexus/plexus-compiler-api/2.13.0/plexus-compiler-api-2.13.0.jar.sha1
~/.m2/repository/org/codehaus/plexus/plexus-compiler-api/2.13.0/plexus-compiler-api-2.13.0.pom
~/.m2/repository/org/codehaus/plexus/plexus-compiler-api/2.13.0/plexus-compiler-api-2.13.0.pom.sha1
~/.m2/repository/org/codehaus/plexus/plexus-compiler-javac/2.13.0/_remote.repositories
~/.m2/repository/org/codehaus/plexus/plexus-compiler-javac/2.13.0/plexus-compiler-javac-2.13.0.jar
~/.m2/repository/org/codehaus/plexus/plexus-compiler-javac/2.13.0/plexus-compiler-javac-2.13.0.jar.sha1
~/.m2/repository/org/codehaus/plexus/plexus-compiler-javac/2.13.0/plexus-compiler-javac-2.13.0.pom
~/.m2/repository/org/codehaus/plexus/plexus-compiler-javac/2.13.0/plexus-compiler-javac-2.13.0.pom.sha1
~/.m2/repository/org/codehaus/plexus/plexus-compiler-manager/2.13.0/_remote.repositories
~/.m2/repository/org/codehaus/plexus/plexus-compiler-manager/2.13.0/plexus-compiler-manager-2.13.0.jar
~/.m2/repository/org/codehaus/plexus/plexus-compiler-manager/2.13.0/plexus-compiler-manager-2.13.0.jar.sha1
~/.m2/repository/org/codehaus/plexus/plexus-compiler-manager/2.13.0/plexus-compiler-manager-2.13.0.pom
~/.m2/repository/org/codehaus/plexus/plexus-compiler-manager/2.13.0/plexus-compiler-manager-2.13.0.pom.sha1
~/.m2/repository/org/codehaus/plexus/plexus-compilers/2.13.0/_remote.repositories
~/.m2/repository/org/codehaus/plexus/plexus-compilers/2.13.0/plexus-compilers-2.13.0.pom
~/.m2/repository/org/codehaus/plexus/plexus-compilers/2.13.0/plexus-compilers-2.13.0.pom.sha1
~/.m2/repository/org/codehaus/plexus/plexus-component-annotations/1.5.5/_remote.repositories
~/.m2/repository/org/codehaus/plexus/plexus-component-annotations/1.5.5/plexus-component-annotations-1.5.5.jar
~/.m2/repository/org/codehaus/plexus/plexus-component-annotations/1.5.5/plexus-component-annotations-1.5.5.jar.sha1
~/.m2/repository/org/codehaus/plexus/plexus-component-annotations/1.5.5/plexus-component-annotations-1.5.5.pom
~/.m2/repository/org/codehaus/plexus/plexus-component-annotations/1.5.5/plexus-component-annotations-1.5.5.pom.sha1
~/.m2/repository/org/codehaus/plexus/plexus-component-annotations/2.1.1/_remote.repositories
~/.m2/repository/org/codehaus/plexus/plexus-component-annotations/2.1.1/plexus-component-annotations-2.1.1.pom
~/.m2/repository/org/codehaus/plexus/plexus-component-annotations/2.1.1/plexus-component-annotations-2.1.1.pom.sha1
~/.m2/repository/org/codehaus/plexus/plexus-components/10.0/_remote.repositories
~/.m2/repository/org/codehaus/plexus/plexus-components/10.0/plexus-components-10.0.pom
~/.m2/repository/org/codehaus/plexus/plexus-components/10.0/plexus-components-10.0.pom.sha1
~/.m2/repository/org/codehaus/plexus/plexus-containers/1.5.5/_remote.repositories
~/.m2/repository/org/codehaus/plexus/plexus-containers/1.5.5/plexus-containers-1.5.5.pom
~/.m2/repository/org/codehaus/plexus/plexus-containers/1.5.5/plexus-containers-1.5.5.pom.sha1
~/.m2/repository/org/codehaus/plexus/plexus-containers/2.1.1/_remote.repositories
~/.m2/repository/org/codehaus/plexus/plexus-containers/2.1.1/plexus-containers-2.1.1.pom
~/.m2/repository/org/codehaus/plexus/plexus-containers/2.1.1/plexus-containers-2.1.1.pom.sha1
~/.m2/repository/org/codehaus/plexus/plexus-interpolation/1.26/_remote.repositories
~/.m2/repository/org/codehaus/plexus/plexus-interpolation/1.26/plexus-interpolation-1.26.jar
~/.m2/repository/org/codehaus/plexus/plexus-interpolation/1.26/plexus-interpolation-1.26.jar.sha1
~/.m2/repository/org/codehaus/plexus/plexus-interpolation/1.26/plexus-interpolation-1.26.pom
~/.m2/repository/org/codehaus/plexus/plexus-interpolation/1.26/plexus-interpolation-1.26.pom.sha1
~/.m2/repository/org/codehaus/plexus/plexus-java/1.1.2/_remote.repositories
~/.m2/repository/org/codehaus/plexus/plexus-java/1.1.2/plexus-java-1.1.2.jar
~/.m2/repository/org/codehaus/plexus/plexus-java/1.1.2/plexus-java-1.1.2.jar.sha1
~/.m2/repository/org/codehaus/plexus/plexus-java/1.1.2/plexus-java-1.1.2.pom
~/.m2/repository/org/codehaus/plexus/plexus-java/1.1.2/plexus-java-1.1.2.pom.sha1
~/.m2/repository/org/codehaus/plexus/plexus-languages/1.1.2/_remote.repositories
~/.m2/repository/org/codehaus/plexus/plexus-languages/1.1.2/plexus-languages-1.1.2.pom
~/.m2/repository/org/codehaus/plexus/plexus-languages/1.1.2/plexus-languages-1.1.2.pom.sha1
~/.m2/repository/org/codehaus/plexus/plexus-utils/3.5.0/_remote.repositories
~/.m2/repository/org/codehaus/plexus/plexus-utils/3.5.0/plexus-utils-3.5.0.jar
~/.m2/repository/org/codehaus/plexus/plexus-utils/3.5.0/plexus-utils-3.5.0.jar.sha1
~/.m2/repository/org/codehaus/plexus/plexus-utils/3.5.0/plexus-utils-3.5.0.pom
~/.m2/repository/org/codehaus/plexus/plexus-utils/3.5.0/plexus-utils-3.5.0.pom.sha1
~/.m2/repository/org/codehaus/plexus/plexus-utils/3.5.1/_remote.repositories
~/.m2/repository/org/codehaus/plexus/plexus-utils/3.5.1/plexus-utils-3.5.1.jar
~/.m2/repository/org/codehaus/plexus/plexus-utils/3.5.1/plexus-utils-3.5.1.jar.sha1
~/.m2/repository/org/codehaus/plexus/plexus-utils/3.5.1/plexus-utils-3.5.1.pom
~/.m2/repository/org/codehaus/plexus/plexus-utils/3.5.1/plexus-utils-3.5.1.pom.sha1
~/.m2/repository/org/junit/junit-bom/5.7.1/_remote.repositories
~/.m2/repository/org/junit/junit-bom/5.7.1/junit-bom-5.7.1.pom
~/.m2/repository/org/junit/junit-bom/5.7.1/junit-bom-5.7.1.pom.sha1
~/.m2/repository/org/junit/junit-bom/5.7.2/_remote.repositories
~/.m2/repository/org/junit/junit-bom/5.7.2/junit-bom-5.7.2.pom
~/.m2/repository/org/junit/junit-bom/5.7.2/junit-bom-5.7.2.pom.sha1
~/.m2/repository/org/junit/junit-bom/5.9.1/_remote.repositories
~/.m2/repository/org/junit/junit-bom/5.9.1/junit-bom-5.9.1.pom
~/.m2/repository/org/junit/junit-bom/5.9.1/junit-bom-5.9.1.pom.sha1
~/.m2/repository/org/ow2/asm/asm/9.4/_remote.repositories
~/.m2/repository/org/ow2/asm/asm/9.4/asm-9.4.jar
~/.m2/repository/org/ow2/asm/asm/9.4/asm-9.4.jar.sha1
~/.m2/repository/org/ow2/asm/asm/9.4/asm-9.4.pom
~/.m2/repository/org/ow2/asm/asm/9.4/asm-9.4.pom.sha1
~/.m2/repository/org/ow2/ow2/1.5.1/_remote.repositories
~/.m2/repository/org/ow2/ow2/1.5.1/ow2-1.5.1.pom
~/.m2/repository/org/ow2/ow2/1.5.1/ow2-1.5.1.pom.sha1
~/.m2/repository/org/slf4j/slf4j-api/1.7.36/_remote.repositories
~/.m2/repository/org/slf4j/slf4j-api/1.7.36/slf4j-api-1.7.36.jar
~/.m2/repository/org/slf4j/slf4j-api/1.7.36/slf4j-api-1.7.36.jar.sha1
~/.m2/repository/org/slf4j/slf4j-api/1.7.36/slf4j-api-1.7.36.pom
~/.m2/repository/org/slf4j/slf4j-api/1.7.36/slf4j-api-1.7.36.pom.sha1
~/.m2/repository/org/slf4j/slf4j-parent/1.7.36/_remote.repositories
~/.m2/repository/org/slf4j/slf4j-parent/1.7.36/slf4j-parent-1.7.36.pom
~/.m2/repository/org/slf4j/slf4j-parent/1.7.36/slf4j-parent-1.7.36.pom.sha1
~/.m2/repository/org/sonatype/forge/forge-parent/5/_remote.repositories
~/.m2/repository/org/sonatype/forge/forge-parent/5/forge-parent-5.pom
~/.m2/repository/org/sonatype/forge/forge-parent/5/forge-parent-5.pom.sha1
~/.m2/repository/org/sonatype/oss/oss-parent/9/_remote.repositories
~/.m2/repository/org/sonatype/oss/oss-parent/9/oss-parent-9.pom
~/.m2/repository/org/sonatype/oss/oss-parent/9/oss-parent-9.pom.sha1
~/.m2/repository/org/sonatype/plexus/plexus-build-api/0.0.7/_remote.repositories
~/.m2/repository/org/sonatype/plexus/plexus-build-api/0.0.7/plexus-build-api-0.0.7.jar
~/.m2/repository/org/sonatype/plexus/plexus-build-api/0.0.7/plexus-build-api-0.0.7.jar.sha1
~/.m2/repository/org/sonatype/plexus/plexus-build-api/0.0.7/plexus-build-api-0.0.7.pom
~/.m2/repository/org/sonatype/plexus/plexus-build-api/0.0.7/plexus-build-api-0.0.7.pom.sha1
~/.m2/repository/org/sonatype/spice/spice-parent/15/_remote.repositories
~/.m2/repository/org/sonatype/spice/spice-parent/15/spice-parent-15.pom
~/.m2/repository/org/sonatype/spice/spice-parent/15/spice-parent-15.pom.sha1
